.md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d;
}
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
   .red {
  background: #ff8a80; }
.md-grid-tile {
  transition: all 400ms ease-out 50ms; }
  .new
  {
    margin-left:600px;
  }

md-grid-list md-grid-tile figure {
  /*flex-direction: column;*/
}

.datepicker-fix {
  display: block;
  position: relative;
  padding: 2px;
  margin: 18px 0;
  vertical-align: middle;
}

.profile-img {
  height: 150px;
  width: 200px;
}

.full-width {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
